<!-- <script type="text/javascript" src="./../models/headerModel.js"></script> -->

<style>
    .header {
        padding: 20px;
        /* text-align: left; */
        background: #05a962;
        border: 5px solid blue;
        overflow: overlay;
        /* overflow:auto;  */
        display:inline-block;
    }

    .logo {
        width: 9%;
        height: auto;
    }

    .logo_text {
        width: 23%;
        height: auto;
    }

    .navigation{
        text-align: left;
        display:inline-block;
        /* float: right; */
        border: 5px solid purple;
    }

    .logos {
        border: 5px solid red;
        float: left;
    }

    .new_user {
        float: right;
        border: 5px solid yellow;
    }

    .returning_user {
        float: right;
        border: 5px solid orange;
    }
</style>

<div class = "header">
    <% const { userID } = request.session; %>
    <div class = "logos">
        <a href="./"><img src = "/assets/logo.png" class = "logo"></a>
        <a href="./"><img src = "/assets/logo2.png" alt = "GAMAZON" class = "logo_text"></a>
    </div>

    <nav class = "navigation">
        <p>Welcome back </p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/catalog">Catalog</a></li>
            <% if(userID){ %>
                <li><a href="/account">My Account</a></li>
                <li>
                    <form method = 'POST' action = '/logout'><button>Logout</button></form>
                </li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            <% } %>
        </ul>
    </nav>

    <!-- <form class = "new_user" method = "POST" action = "/createNewUser">
        <input type = "submit" value="Logout">
    </form> -->
</div>