<style>
    .header {
        padding: 60px;
        text-align: left;
        background: #05a962;
    }

    .logo {
        width: 9%;
        height: auto;
    }

    .logo_text {
        width: 25%;
        height: auto;
    }
</style>

<div class = "header">
    <img src = "/assets/logo.png" class = "logo">
    <img src = "/assets/logo2.png" alt = "GAMAZON" class = "logo_text">

    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</div>