<!DOCTYPE html>
<html>
    <head>
        <title>Account</title>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <link href="/assets/styles.css" rel='stylesheet' type='text/css' />
    </head>
    <body>
        <% include partials/header.ejs %>
        <h1>Account</h1>

        <ul>
            <% for(var i = 0; i < stuff.length; i++){ %>
                <li><%= stuff[i].item %></li>
            <% } %>
        </ul>
    </body>
</html>