<!DOCTYPE html>
<html>
    <head>
        <title>Catalog</title>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <link href="/assets/styles.css" rel='stylesheet' type='text/css' />
    </head>
    <body>
        <%- include('partials/header', {request: request}); %>
        <h1>Catalog Page <%= page %></h1>

        <% for (var product of productIDs) { %>
            <%- include('partials/catalogProduct', {"product_id": product.product_id}); %>
        <% } %>
    </body>
</html>