<!DOCTYPE html>
<html>
    <head>
        <title>Catalog</title>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <link href="/assets/styles.css" rel='stylesheet' type='text/css' />
    </head>
    <body>
        <% include partials/header.ejs %>
        <h1>Catalog</h1>
        <br><br>
        <h1>Page <%= page %></h1>

    </body>
</html>