<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <link href="/assets/styles.css" rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <%- include('partials/header', {request: request}); %>
        <h1>Welcome to <span style='color:green;'>Gamazon</span></h1>
        
        <a href="./catalog"><h3>Buy Stuff</h3></a>

        <form enctype="multipart/form-data" method="POST" action="/venderImageUpload">
            <input name="pictureFile" type="file"/>
            <input type="submit" value="submit"/>
         </form>
    </body>
</html>