<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <link href="/assets/login_styles.css" rel='stylesheet' type='text/css' />
    </head>
    <body>
        <%- include('partials/header', {request: request}); %>

        <h1>Login</h1>
        <br>
        <form class = "login" method = "POST" action = "/login">
            <h3>Login to your account:</h3><br>
            Username: <input type = "text" name="username" required><br>
            Password: <input type = "password" name="password" required>
            <input type = "submit" value="Login">
        </form>
    </body>
</html>