<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <link href="/assets/styles.css" rel='stylesheet' type='text/css' />
    </head>
    <body>
        <%- include('partials/header', {request: request}); %>
        <h1>RIP</h1>
        <h3>Thats a 404</h3>
        
        <a href="/"><h3>Home</h3></a>
    </body>
</html>