<!DOCTYPE html>
<html>
    <head>
        <title>Vender Dashboard</title>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <link href="/assets/product_styles.css" rel='stylesheet' type='text/css' />
    </head>
    <body>
        <%- include('partials/header', {request: request}); %>

        <h1>Vender Dashboard</h1>
        
        <br>
            <form class = "addProduct" method = "POST" action = "/vender" enctype="multipart/form-data">
                <fieldset>
                    <legend>New Product:</legend>
                    Name: <input type = "text" name="prod_name" required><br>
                    Price: <input type = "number" name="prod_price" min="0.01" max="1000000" step="0.01" value="10" required><br>
                    Manufacturer: <input type = "text" name="prod_manufacturer" required><br>
                    Description: <input type = "text" name="prod_description" required><br>
                    Origin: <input type = "text" name="prod_origin" required><br>
                    Image: <input type="file" name="image_file" required><br>
                    <input type = "submit" value="!Add New Product!"><br>
                </fieldset>
            </form>
    </body>
</html>